

* {
  margin: 0 auto;
}

.div {
    text-align: center;

}
button:hover{
    background-color: aqua;
    color: gray;
}
.prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -200px;
    width: 500px;
}
.prev button{
   
    width: 50px;
    height: 30px;
    border: 1px solid gray;
    background-color: rgb(176, 240, 240);
    border-radius: 5px;
    /* margin-right: 400px; */

}



.next button{
    width: 50px;
    height: 30px;
    border: 1px solid gray;
    background-color: rgb(176, 240, 240);
    border-radius: 5px;
    margin-right: 400px;

}

.first{
   padding-top: 160px;
}

.first button{
   margin: 0 auto;
    width: 50px;
    height: 30px;
    border: 1px solid gray;
    background-color: rgb(176, 240, 240);
    border-radius: 5px;
}

